<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

{% seo %}
{% include schema.html %}

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
<script>window.HELP_IMPROVE_VIDEOJS = false;</script>
